<a href="https://colab.research.google.com/github/hafizdabo/hamoye-fork-project/blob/main/importing_pandas_convention.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Convention for importing Pandas

In [1]:
import pandas as pd
import numpy as np

In [3]:
days = pd.Series(['Monday', 'Tuesday', 'Wednesday'])
print(days)

0       Monday
1      Tuesday
2    Wednesday
dtype: object

In [4]:
# creating series with a numpy array
days_list = np.array(['Monday', 'Tuesday', 'Wednesday'])
numpy_days = pd.Series(days_list)
print(numpy_days)

0       Monday
1      Tuesday
2    Wednesday
dtype: object

In [5]:
# using strings as index
days = pd.Series(['Monday', 'Tuesday', 'Wednesday'], index = ['a', 'b', 'c'])

In [7]:
# create series from a dictionary
days1 = pd.Series({'a':'Monday', 'b':'Tuesday', 'c':'Wednesday'})
print(days)
print(days1)

a       Monday
b      Tuesday
c    Wednesday
dtype: object
a       Monday
b      Tuesday
c    Wednesday
dtype: object

In [8]:
# accessing series
days[0]

'Monday'

In [9]:
days[1:]

b      Tuesday
c    Wednesday
dtype: object

In [10]:
days['c']

'Wednesday'

## DataFrame

In [11]:
# create a dataframe
print(pd.DataFrame())

Empty DataFrame
Columns: []
Index: []

In [12]:
# create a DataFrame from a dictionary
df_dict = {'Country': ['Ghana', 'Kenya', 'Nigeria', 'Togo'],
           'Capital': ['Accra', 'Nairobi', 'Abuja', 'Lome'], 
           'Population': ['10000', '8500', '35000', '12000'],
           'Age': ['60', '70', '80', '75']
           }

In [13]:
df = pd.DataFrame(df_dict, index = [2, 4, 6,8])
df_list = [
           ['Ghana', 'Accra', '10000', '60'],
           ['Kenya', 'Nairobi', '8500', '70'],
           ['Nigeria', 'Abuja', '35000', '80'],
           ['Togo', 'Lome', '12000', '75']
]

In [14]:
df1 = pd.DataFrame(df_list, columns = ['Country', 'Capital', 'Population', 'Age'], index = [2, 4, 6, 8])

In [15]:
df

   Country  Capital Population Age
2    Ghana    Accra      10000  60
4    Kenya  Nairobi       8500  70
6  Nigeria    Abuja      35000  80
8     Togo     Lome      12000  75

In [16]:
df1

   Country  Capital Population Age
2    Ghana    Accra      10000  60
4    Kenya  Nairobi       8500  70
6  Nigeria    Abuja      35000  80
8     Togo     Lome      12000  75

In [17]:
# select the row in the index 3
df.iloc[3]

Country        Togo
Capital        Lome
Population    12000
Age              75
Name: 8, dtype: object

In [19]:
# select row with index label 6
df.loc[6]

Country       Nigeria
Capital         Abuja
Population      35000
Age                80
Name: 6, dtype: object

In [20]:
# select the "Capital" column
df['Capital']

2      Accra
4    Nairobi
6      Abuja
8       Lome
Name: Capital, dtype: object

In [22]:
df.at[6, 'Country']

'Nigeria'

In [23]:
df.iat[2, 0]

'Nigeria'

In [29]:
df['Population'].sum()

'1000085003500012000'

In [34]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Population    2.500213e+17
Age           1.517702e+07
dtype: float64

In [36]:
df.describe()

       Country Capital Population Age
count        4       4          4   4
unique       4       4          4   4
top      Ghana   Accra      10000  60
freq         1       1          1   1

In [37]:
df_dict2 = {'Name': ['James', 'Yemen', 'Caro', np.nan],
            'Profession': ['Researcher', 'Artist', 'Doctor', 'Writer'],
            'Experience': [12, np.nan, 10, 8],
            'Height': [np.nan, 175, 180, 150]
}

In [38]:
new_df = pd.DataFrame(df_dict2)
new_df

    Name  Profession  Experience  Height
0  James  Researcher        12.0     NaN
1  Yemen      Artist         NaN   175.0
2   Caro      Doctor        10.0   180.0
3    NaN      Writer         8.0   150.0

In [39]:
new_df.isnull()

    Name  Profession  Experience  Height
0  False       False       False    True
1  False       False        True   False
2  False       False       False   False
3   True       False       False   False

In [40]:
new_df.dropna()

   Name Profession  Experience  Height
2  Caro     Doctor        10.0   180.0